@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", serif;
  font-weight: 400;
}

.hide {
  display: none;
}

.mb {
  margin-bottom: 5px;
}

body {
  background-color: #3d3a3a;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #3d3a3a;
}

.container .warning {
  margin-bottom: 15px;
}

.container img {
  max-width: 150px;
  margin-bottom: 25px;
}

.container input {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 190px;
  border-radius: 5px;
  border: none;
  margin-bottom: 25px;
}

.container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 190px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  background-color: #ffcf01;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container .btn:hover {
  background-color: #8d7923;
  color: white;
}

.container h1 {
  color: white;
}

.container-profile {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #292929;
  max-width: 300px;
  margin: auto;
  -webkit-box-shadow: 10px 5px 5px #292929;
          box-shadow: 10px 5px 5px #292929;
  height: 30vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 200px;
}

.container-profile .animacao {
  width: 150px;
  height: 150px;
  background-color: transparent;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 50%;
}

.container-profile .bloco {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #292929;
  max-width: 300px;
  -webkit-box-shadow: 10px 5px 5px #292929;
          box-shadow: 10px 5px 5px #292929;
}

.container-profile .bloco .text {
  color: white;
}

.container-profile .bloco .title {
  font-weight: 700;
  font-size: 30px;
  color: #ffcf01;
}

.container-profile .bloco .avatar-img {
  width: 130px;
  border: 2px solid white;
  border-radius: 50%;
  margin: auto;
}

.container-profile .bloco .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

.container-profile .bloco .header .header-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
}

.container-profile .bloco .header .header-button .header-icon {
  margin-left: 5px;
  color: red;
  font-size: 20px;
}

.container-profile .bloco .section1 {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-profile .bloco .section2 {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #3e3e3e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container-profile .bloco .section2 .boxtext {
  font-size: 35px;
  font-weight: 700;
}

.container-profile .bloco .section2 .box {
  font-weight: 300;
}

.container-profile .bloco .section3 {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.NotFound {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NotFound .NotFoundText {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: white;
}

.NotFound .BackBtn {
  padding: 15px;
  width: 150px;
  border: none;
  background-color: #ffcf01;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.NotFound .BackBtn:hover {
  background-color: #8d7923;
  color: white;
}
/*# sourceMappingURL=index.css.map */