$background: #292929;
$backgroundCard: #3e3e3e;
$text1: black;
$text2: white;
$btn: #FFCF01;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $background;

    .warning{
        margin-bottom: 15px;
    }

    img{
        max-width: 150px;
        margin-bottom: 25px;
    }

    input{
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 190px;
        border-radius: 5px;
        border: none;
        margin-bottom: 25px;
    }

    .btn{
        padding: 10px;
        width: 190px;
        border: none;
        background-color: brown;
        border-radius: 5px;
        cursor: pointer;
        color: $text1;
        background-color: $btn;
        transition: all 0.3s ease;

        &:hover{
            background-color: #8d7923;
            color: $text2;
        }
    }

    h1{
        color: $text2;
    }
}