@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
$background: #292929;
$backgroundCard: #3e3e3e;
$backgroundBody: #3d3a3a;
$text1: black;
$text2: white;
$btnlogOut: red;
$btn: #ffcf01;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", serif;
  font-weight: 400;
}

.hide {
  display: none;
}

@mixin mbmt {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mb {
  margin-bottom: 5px;
}

body {
  background-color: $backgroundBody;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $backgroundBody;

  .warning {
    margin-bottom: 15px;
  }

  img {
    max-width: 150px;
    margin-bottom: 25px;
  }

  input {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 190px;
    border-radius: 5px;
    border: none;
    margin-bottom: 25px;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 190px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: $text1;
    background-color: $btn;
    transition: all 0.3s ease;

    &:hover {
      background-color: #8d7923;
      color: $text2;
    }
  }

  h1 {
    color: $text2;
  }
}

.container-profile {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: $background;
  max-width: 300px;
  margin: auto;
  box-shadow: 10px 5px 5px $background;
  height: 30vh;
  justify-content: center;
  margin-top: 200px;

  .animacao {
    width: 150px;
    height: 150px;
    background-color: transparent;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
  }

  .bloco {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: $background;
    max-width: 300px;
    box-shadow: 10px 5px 5px $background;
    

    .text {
      color: $text2;
    }

    .title {
      font-weight: 700;
      font-size: 30px;
      color: $btn;
    }

    .avatar-img {
      width: 130px;
      border: 2px solid $text2;
      border-radius: 50%;
      margin: auto;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;

      .header-button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: center;
        font-weight: 300;

        .header-icon {
          margin-left: 5px;
          color: $btnlogOut;
          font-size: 20px;
        }
      }
    }

    .section1 {
      padding: 15px;
      @include mbmt();
      display: flex;
      flex-direction: column;
    }

    .section2 {
      padding: 15px;
      @include mbmt();
      background-color: $backgroundCard;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      .boxtext {
        font-size: 35px;
        font-weight: 700;
      }

      .box {
        font-weight: 300;
      }
    }

    .section3 {
      padding: 15px;
      @include mbmt();
    }
  }
}

.NotFound{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .NotFoundText{
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: $text2;
  }

  .BackBtn{
    padding: 15px;
    width: 150px;
    border: none;
    background-color: $btn;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover{
      background-color: #8d7923;
      color: $text2;
    }

  }
}
